.App{
   height: 100vh;
  width: 100vw;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.Board-Row {
  display: flex;
}
.Square-Box{
  border: 2px solid rgb(239, 50, 50);
  height: 100px;
  width: 100px;
  display: flex;
   align-items: center;
  justify-content: center;
}
.Square-Box h5{
  font-size: 2.5vw;
}